@charset "UTF-8";

/* すべてのWebページに適用される */
html {
	font-family: sans-serif;
}
html * {
	box-sizing:border-box;
}
body {
	margin: 0 0 0 0;
	background-color: #eee8aa;
}
.wrapper {
	margin: 0 auto 0 auto;
	max-width: 960px;
}
h1 {
	color: #253c80;
}
h2 {
	color: #253c80;
}
.keyvisual img { 
	width: 100%;
}
h3 {
	color: #253c80;
	font-size: 25px;
	border-bottom: 3px dashed #3f5170;
	margin: 20px 0 20px 0;
	padding: 5px 5px 5px 5px;
}
p {
	line-height: 1.8;
}
a:link {
	color: #d25833;
}
a:visited {
	color: #d25833;
}
a:hover {
	color: #e3937a;
}
a:active {
	color: #ff6a3b;
}

/* すべてのWebページに適用される - ヘッダー - */
h1 {
	margin: 50px 0 40px 0;
	line-height: 0;
	text-align: center;
}
h2 {
	text-align: right;
	font-size: 25px;
	border-bottom: 3px dashed #3f5170;
	margin: 20px 0 20px 0;
	padding: 5px 5px 5px 5px;
}
.nav li {
	display: inline;
	list-style-type: none;
	padding-right: 30px;
}
.nav a:link {
	color: #3c454d;
	text-decoration: none;
}
.nav a:visited {
	color: #3c454d;
	text-decoration: none;
}
.nav a:hover {
	color: #7b8dac;
	text-decoration: none;
}
.nav a:active {
	color: #5a9bc0;
	text-decoration: none;
}

/* 個別のスタイル */
/* home.html */
.keyvisual {
	margin: 15px 0 0 0;
}
.intro-sentence {
	margin: 0;
}

/* profile.html */
.info {
	border-collapse: collapse;
}
.info th,  .info td {
	padding: 8px;
	border: 1px solid #bec2c7;
	text-align: left;
}
.info th {
	background-color: #dde2ea;
	width: 240px;
	color: #3f5170;
	vertical-align: top;
}